<!DOCTYPE html>
<!--Zack Johnson and Amir Al-Sheikh-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LEGO Minifigures</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lego.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='lego.js') }}" ></script>
  </head>
  <body>

<!--Top Banner Navigation -->
    <ul class="navbar">
      <li class="home_button"><a href="/">Home</a></li>
      <li><a href="sets">Sets</a></li>
      <li><a class="active" href="minifigs">Minifigs</a></li>
      <li><a href="/pieces">Pieces</a></li>
      <li><a href="/about">About</a></li>
    </ul>

<!--Side Bar-->
    <ul class="filters">
      <h2>Filters</h2>
      <li><ul class="filter_options">
        <h3>Theme</h3>
        <li><input type="checkbox" id="theme158"><label for="theme158">Star Wars</label></li>
        <li><input type="checkbox" id="theme246"><label for="theme246">Harry Potter</label></li>
        <li><input type="checkbox" id="theme22"><label for="theme22">Creator</label></li>
        <li><input type="checkbox" id="other"><label for="other">Other:</label><input type="text" placeholder="Theme Name"></li>
      </ul></li>
      <li><ul class="filter_options">
        <h3>User Groups</h3>
        <li><input type="checkbox" id="user1">Owned</li>
        <li><input type="checkbox" id="user2">Wishlist</li>
      </ul></li>
    </ul>

    <h1>Lego Minifigures</h1>

    <div class="results">
      <input class="results_search" id="minifigs_search" type="search" placeholder="Search...">
      <label for="sort_by">Sort By:</label>
      <select name="sort_by" id="sort_by">
        <option value="" selected disabled hidden>Choose<option>
        <option value="minifigs.name">Name</option>
        <option value="minifigs.fig_num">Minifig ID</option>
        <option value="minifigs.num_parts">Parts</option>
        <option value="sets_in">Comes In</option>
      </select>
      <select name="order" id="order">
        <option value="desc">High to Low</option>
        <option value="asc">Low to High</option>
      </select>
      <table id="table">
        <thead><tr>
          <th>Minifig Id</th>
          <th>Name</th>
          <th>Parts</th>
          <th>Comes In:</th>
        </tr></thead>
        <tbody id="results_table"></tbody>
      </table>
    </div>

  </body>
</html>
